.guest_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.7);
}

.guest_form .side {
    padding: 1.5rem 0 0 3rem;
    background-color: #ebebeb;
    height: 100%;
    width: 80%;
}

.guest_form .guest {
    width: 100%;
}