.voting_paltform {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 90%;
        background-color: rgba(255, 255, 255, 0.7);
}

.voting_paltform .side {
    padding: 1rem 0 0 3rem;
    background-color: #ebebeb;
    height: 100%;
    width: 60ch;
    float: left;
}

.voting_paltform .voting_body .col-sm-6 img {
    width: 20ch;
    height: 20ch;
}

.voting_paltform .voting_body .position_for-sider {
    width: 100%;
    background-color: rgb(238, 161, 29);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0.4rem;
}

.voting_paltform .voting_body {
    width: 76ch;
    padding: 2rem;
}

.voting_paltform .voting_body h1