.title {
    height: 90vh;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title .content {
    padding: 3rem;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title .content .Title_label {
    font-size: 4rem;
    margin: 0;
    font-weight: 800;
    position: relative;
    left: -20%;
}

.title .content input {
    background-color: #e8e8e8;
    width: 70%;
    height: 60px;
    border-radius: 4px;
    box-shadow: none;
    color: #908d8d;
    margin: 3rem 0 0 0;
    border-bottom: 5px solid #908d8d;
    padding: 0 0 0 1rem;
}

.title .content .title_button {
    width: 70%;
    margin: 2rem 0 0 0;
}

.title .content .title_button button {
    background-color: #d28f1c;
    padding: 1rem 4rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
}

.title .content .title_button #title_next_btn {
    float: right;
}